header
  h1.logo Wang Song Let's get Started!
  
  nav.site-nav
    ul
      li: a(href="#about") About
      li: a(href="#YouTube") YouTube
      li: a(href="#Mentoring") Mentoring
      li: a(href="#Article") Article
      li: a(href="#Design") Design
      li: a(href="#Contact") Contact
      
  a(href="mailto:song@wangsup.com").email-link +email me
     
