.home-wrap header
  width: px 150px
  background: white
  padding: 39px 0

  .logo
    +hide-text
    background:
      image: url(/assets/img/logo.svg)
      repeat: no-repeat
      position: conter
      size: contain
      color: pink
    height: 35px
    padding: 30px
    margin: 30px
